{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% set active_page = "index" %}

{% block content %}
  <div class="container index-container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6 col-sm-12 mb-4 mb-md-0">
        <img src="{{ url_for('static', filename='img/cover.jpeg') }}" class="img-fluid index-image w-100" alt="iMusic Cover Image">
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="p-4 p-lg-5 bg-light rounded welcome-card h-100">
          <h1 class="display-4 d-none d-lg-block">Welcome to the iMusic Music Management System (MMS)</h1>
          <h1 class="h2 d-lg-none">Welcome to iMusic MMS</h1>
          <hr class="my-4">
          <p class="text-danger text-center mb-0">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            The system is under active development!<br>
            Things might be a little unstable!
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}